.wrapper {
  background-image: url('/img/nature-flowers.jpg');
  height: calc(100vh - 25px);
  background-size: cover;
  padding-top: 25px;

  .title {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
  }

  .text {
    margin: 7px 0 5px;
    display: flex;
    justify-content: center;
  }

  .link {
    color: #38375a;

    &:hover {
      text-decoration: none;
    }
  }
}
